<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_Variable (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>1_Variable (Playground) 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>1_Variable (Playground) 11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>1_Variable (Playground) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>1_Variable (Playground) 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>1_Variable (Playground) 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>1_Variable (Playground) 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>1_Variable (Playground) 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>1_Variable (Playground) 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>1_Variable (Playground) 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>1_Variable (Playground) 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>1_Variable (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2_Data_Type (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>2_Data_Type (Playground) 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>2_Data_Type (Playground) 11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>2_Data_Type (Playground) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>2_Data_Type (Playground) 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>2_Data_Type (Playground) 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>2_Data_Type (Playground) 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>2_Data_Type (Playground) 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>2_Data_Type (Playground) 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>2_Data_Type (Playground) 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>2_Data_Type (Playground) 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>2_Data_Type (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>3_Operators (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>3_Operators (Playground) 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>3_Operators (Playground) 11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>3_Operators (Playground) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>3_Operators (Playground) 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>3_Operators (Playground) 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>3_Operators (Playground) 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>3_Operators (Playground) 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>3_Operators (Playground) 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>3_Operators (Playground) 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>3_Operators (Playground) 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>3_Operators (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>4_Conditional_Statement (Playground) 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>4_Conditional_Statement (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>5_Functions (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>5_Functions (Playground) 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>5_Functions (Playground) 11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>5_Functions (Playground) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>5_Functions (Playground) 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>5_Functions (Playground) 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>5_Functions (Playground) 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>5_Functions (Playground) 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>5_Functions (Playground) 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>5_Functions (Playground) 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>5_Functions (Playground) 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>5_Functions (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>6_Optionals (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>6_Optionals (Playground) 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>6_Optionals (Playground) 11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>6_Optionals (Playground) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>6_Optionals (Playground) 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>6_Optionals (Playground) 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>6_Optionals (Playground) 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>6_Optionals (Playground) 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>6_Optionals (Playground) 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>6_Optionals (Playground) 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>6_Optionals (Playground) 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>6_Optionals (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>7_Enumerations (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>7_Enumerations (Playground) 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>7_Enumerations (Playground) 11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>7_Enumerations (Playground) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>7_Enumerations (Playground) 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>7_Enumerations (Playground) 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>7_Enumerations (Playground) 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>7_Enumerations (Playground) 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>7_Enumerations (Playground) 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>7_Enumerations (Playground) 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>7_Enumerations (Playground) 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>7_Enumerations (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>8_Struct_n_Class (Playground) 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>8_Struct_n_Class (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>9_Properties (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>9_Properties (Playground) 10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>9_Properties (Playground) 11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>9_Properties (Playground) 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>9_Properties (Playground) 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>9_Properties (Playground) 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>9_Properties (Playground) 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>9_Properties (Playground) 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>9_Properties (Playground) 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>9_Properties (Playground) 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>9_Properties (Playground) 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>9_Properties (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
	</dict>
</dict>
</plist>
